;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []
 :dev-http {8080 "public"}

 :builds
 {
  :app
    {:target :browser} 
  :test
    {:target :browser-test
     :test-dir "resources/public/js/test"
     :devtools {:http-port 8021
                :http-root "resources/public/js/test"
     }
  }
 }
 }
